<div class="table table-responsive compact">
    <table id="tblDrawResult" class="table table-bordered table-hover table-striped " style="padding-top:10px">
        <thead>
            <tr>
                <th>Draw Date</th>
                <th>Draw Time</th>
                <th>Result</th>
                <th>Entered By</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
    

